#g-add-photos-form input[type="file"] {
	margin-top: .2em;
}
#g-add-photos-form .g-message-block:empty {
	display: none;
}
#h5up-dropzone {
	border-radius: 2em;
	border: 10px solid #ccc;
	line-height: 3em;
	margin: .5em 0 .8em 0;
	text-align: center;
/*	background: radial-gradient(black 15%, transparent 16%) 0 0,
	            radial-gradient(black 15%, transparent 16%) 8px 8px,
	            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	color: #fff;
	background-color:#282828;
	background-size:16px 16px;
*/

	background-color: #dcdcdc;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image:         repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);

}
#h5up-dropzone.hover {
	border-color: #5382BF;
	background-color:#2E6E9E;
}
#h5up-dropzone p {
	margin: 10px;
	font-size: 14px;
}
#g-add-photos-form progress {
	width: 86%;
}
#g-add-photos-form .hidden {
	display: none !important;
}
#g-add-photos-form .close {
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.375em;
	line-height: .7;
	text-decoration: none !important;
	opacity: .3;
}
#g-add-photos-form .close:hover {
	text-decoration: none !important;
	opacity: .5;
}
#g-add-photos-canvas {
	padding: 0;
}
#g-add-photos-canvas .preview {
	width: 2.4em;
	height: 2.4em;
	position: relative;
	float: left;
	margin-right: .5em;
	background-color: rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
	        box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
}
#g-add-photos-canvas img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
#g-add-photos-canvas {
	height: auto;
	max-height: 184px;
}
#g-add-photos-status {
	height: auto;
	max-height: 150px;
}
#g-add-photos-status-message {
	padding-top: 3px;
}

/* override */

#g-add-photos-form .g-message-block li {
	margin: 1px 0 0 0;
	padding: .3em .5em .3em 2em;
	float: none;
}

#g-add-photos-form .g-message-block li:first-child {
	margin-top: 0;
}

#g-add-photos-canvas.g-message-block li {
	padding-left: .5em;
}
